<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Survey Edit</h1>
    <form action="{% url 'surveys:update' question.pk %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" value="{{ question.title }}"/>     
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>