<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>회식 메뉴 추천</h1>
    <a href="{% url 'surveys:new'%}">New</a>
    <ul>
    {% for student in students %}        
        <li> <a href="{% url 'surveys:detail' question.pk %}">{{ question.title }} </li></a>
    {% endfor %}  
    </ul>
    
</body>
</html>